<div id="product-card-container-top">
  <div class="product-card">
    <div class="product-card-img-container">
      <img
        class="product-card-img"
        src="assets/images/coffee-coffee.png"
        alt="The flagship coffee for Neck Beard Coffee. A simple white design on a black coffee bag. The word Coffee appears at the top of the bag"
      />
    </div>

    <div class="product-card-text-container">
      <p class="product-card-text">
        This is our flagship offering, Neck Beard calls it Coffee
        <sup id="sup">TM</sup>, but you can just call it ...Coffee
        <sup id="sup">TM</sup>.
      </p>
    </div>
  </div>
</div>

<div id="product-card-container">
  <div class="product-card"></div>
  <div class="product-card"></div>
</div>
<div id="product-card-container">
  <div class="product-card"></div>
  <div class="product-card"></div>
</div>
