<div id="product-card-container">
  <div class="product-card">
    <div class="product-card-img-container">
      <img
        class="product-card-img"
        src="assets/images/coffee-coffee.png"
        alt=" A simple white design on a black coffee bag. The word Coffee appears at the top of the bag"
      />
    </div>
    <div class="product-card-text-container">
      <p class="product-card-text">
        Our flagship blend, simply called “Coffee<sup id="sup">TM</sup>,” offers a rich 
        and robust flavor profile that embodies the essence of premium coffee beans.🍵 
        
      </p>
    </div>
  </div>


  <div class="product-card">
    <div class="product-card-img-container">
      <img
        class="product-card-img"
        src="assets/images/space-coffee.png"
        alt="A simple cartoon space cadet in a white design on a black coffee bag."
      />
    </div>

    <div class="product-card-text-container">
      <p class="product-card-text">
        "Space Cadet" is a dark roast with a taste that’s out of this world. Its rich, bold flavor will
        launch your taste buds into orbit, making every sip an adventure! 🚀 
      </p>
    </div>
  </div>
</div>

<div id="product-card-container">
  <div class="product-card">
    <div class="product-card-img-container">
      <img
        class="product-card-img"
        src="assets/images/out-there-coffee.png"
        alt=" A simple white design on a black coffee bag. Patterns in white with small
         illustrations of a leaf, a twig, a coffee pot and an eye."
      />
    </div>
    <div class="product-card-text-container">
      <p class="product-card-text">
        “Out There” is an daringly light blend that takes your
         taste buds on a journey. This unique coffee is perfect for those who crave a little 
         excitement in their cup. ⛰️
      </p>
    </div>
  </div>
  <div class="product-card">
    <div class="product-card-img-container">
      <img
        class="product-card-img"
        src="assets/images/oh-my-days-coffee.png"
        alt=" A simple white design on a black coffee bag. Patterns in white on black, flowers, sun and moon."
      />
    </div>
    <div class="product-card-text-container">
      <p class="product-card-text">
        “Oh My Days” is a well balanced , reserved , medium blend with hints of toasted nuts and caramel,
         perfect for a refined coffee experience. ⚖️
      </p>
    </div>
  </div>
  <div class="product-card">
    <div class="product-card-img-container">
      <img
        class="product-card-img"
        src="assets/images/flower-power-coffee.png"
        alt=" A simple white design on a black coffee bag. Flower patterns in white on black."
      />
    </div>
    <div class="product-card-text-container">
      <p class="product-card-text">
        “Flower Power” is a vibrant blend with floral and citrus
         notes, offering a refreshing and aromatic experience, 
         perfect for those who enjoy a lively and fragrant cup. 🌻
      </p>
    </div>
  </div>
</div>
<div id="about-container">

</div>
