<div id="mid-bar-products-container">


  <div class="product-container">
    <a 
      routerLink="/products/coffee/java-coffee" 
      routerLinkActive="active" 
      ariaCurrentWhenActive="page">
      <img
        class="product-img"
        src="assets/images/coffee-cropped.png"
        alt="The flagship coffee for Neck Beard Coffee. A simple white design on a black coffee bag. The word Coffee appears at the top of the bag"
      />
      <h4 class="product-label">Java Coffee</h4>
    </a>
  </div>
   


  <div class="product-container">
    <a 
      routerLink="/products/coffee/space-cadet" 
      routerLinkActive="active" 
      ariaCurrentWhenActive="page">
      <img
        class="product-img"
        src="assets/images/space-coffee-cropped.png"
        alt="Black coffee bag with a cartoon astronaut in a clean white design. Space objects ring the astronaut."
      />
      <h4 class="product-label">Space Cadet</h4>
    </a>
  </div>

  <div class="product-container">
    <a 
      routerLink="/products/coffee/flow-pow" 
      routerLinkActive="active" 
      ariaCurrentWhenActive="page">
      <img
        class="product-img"
        src="assets/images/flower-power-coffee-cropped.png"
        alt="Black coffee bag with a illustrated flowers and flower like patterns in a sleek white design."
      />
      <h4 class="product-label">Flow Pow</h4>
    </a>
  </div>

  <div class="product-container">
    <a 
      routerLink="/products/coffee/out-there" 
      routerLinkActive="active" 
      ariaCurrentWhenActive="page">
      <img
        class="product-img"
        src="assets/images/out-there-coffee-cropped.png"
        alt="Black coffee bag with a white patterns using leaves, a cartoon eye, coffee pot and flowers in a clean white design."
      />
      <h4 class="product-label">Out There</h4>
    </a>
  </div>

  <div class="product-container">
    <a 
      routerLink="/products/coffee/oh-my-days" 
      routerLinkActive="active" 
      ariaCurrentWhenActive="page">
      <img
        class="product-img"
        src="assets/images/oh-my-days-coffee-cropped.png"
        alt="Black coffee bag with a white illustrations of a house, the sun, the moon, assorted beverages in a clean white design."
      />
      <h4 class="product-label">Oh My Days</h4>
    </a>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->


