

<div class="product-container">
    <div class="product-card-container">
        <div class="product-card">
            <img class="product-card-img" src="/assets/images/assorted-merch-display.png" alt="An assortment of merchandise, tote bags, t-shirts, coffee cups and posters with NeckBeard Branding.">
            <h4 class="product-title">Merch</h4>
        </div>
    </div>

    <div class="product-card-container">
        <div class="product-card">
            <a 
                routerLink="/products/coffee" 
                routerLinkActive="active" 
                ariaCurrentWhenActive="page"
                >
                <img class="product-card-img" src="/assets/images/coffee-bag-with-beans-and-mug.png">
            </a>
            <a
                routerLink="/products/coffee" 
                routerLinkActive="active" 
                ariaCurrentWhenActive="page"
                >
                <h4 class="product-title">Coffee</h4>
            </a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>